<div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Liść laurowy</mat-card-title>
      <mat-card-subtitle>To jedna z przypraw, którą możesz sam posiać i przyprawiać zupy w dowolnej chwili</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://i.iplsc.com/liscie-laurowe/000ATJJLIKC0WOM5-C122-F4.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Jakie są wymagania uprawy? W domowych warunkach należy zapewnić roślinie dobre nasłonecznienie,
        dlatego najlepszy będzie parapet okna zachodniego lub wschodniego. Drzewko laurowe do prawidłowego
        rozwoju potrzebuje ponadto swobodnej przestrzeni i dostępu do świeżego powietrza.
      </p>
    </mat-card-content>
  </mat-card>
</div>
